# Cache
cache/

# Inputs and Outputs directories
input/
inputs/
outputs/
ignore/
duplicate_check/
scryfall_cache/
zzz_obselete_moxfield_fast_import/**.csv
zzz_obselete_moxfield_dedupe/**.csv

# Common local input/output files
input.txt
output.txt
*.log

# Python cache files
__pycache__/
*.pyc
*.pyo
